@import url("https://p.typekit.net/p.css?s=1&k=vcq1ovk&ht=tk&f=42595&a=158503986&app=typekit&e=css");

@font-face {
  font-family:"fieldwork-hum";
  src:url("https://use.typekit.net/af/a16b90/00000000000000007735ce7a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a16b90/00000000000000007735ce7a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a16b90/00000000000000007735ce7a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}


.tk-fieldwork-hum { 
  font-family: "fieldwork-hum",sans-serif; 
}

html, body {
  font-family: "fieldwork-hum", sans-serif;
  margin: auto;
  padding: 0;
  height: 50em;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  text-align: left;
  background-image: url("img/Header.png");
  padding: 22px;
}

h1 {
  font-size: 40px;
}

.navegador {
  background-color: #f2f2f2;
  padding: 1em;
  text-decoration: none;
}

nav a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding: 5px 11px;
  border-radius: 5px;
}

nav a:hover{
  background-color: #ddd;
}

.lista_nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.submenu {
  position: relative;
}

.lista_submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  background-color: #f2f2f2;
}

.submenu_item {
  padding: 7px;
  margin: 5px;
}

.submenu_item a{
  white-space: nowrap;
}

.submenu_item a:hover{
  background-color: #ddd;
}

.submenu:hover .lista_submenu {
  display: block;
}

.normativas {
  align-items: center;
  background-image: url("img/Normativa-fundo.png");
  border-radius: 10px;
  padding: 40px;
  margin: 50px;
  display: grid;
  grid-template-columns: 10% 60% 30%;
}

.imagem_normativa {
  width: 70%;
}

.normativa_texto {
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.botao_normativa {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  background-color: transparent;
  border: 5px solid white;
  border-radius: 8px;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.botao_normativa:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.main {
  text-align: left;
  flex: 1;
}

.container {
  display: flex;
  flex-wrap: flex;
  gap: 20px;
  padding: 20px;
}

.coluna {
  padding: 25px;
  margin: auto;
}

@media (min-width: 600px){
  .coluna{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(4, 50vh);
  }
}

@keyframes crescer {
  to {
    transform: scale(1.2);
  }
}

.imagem {
  transition: crescer 0.5s ease-in-out;
}

.imagem:hover {
  animation: crescer 0.5s forwards;
}

footer {
  color: white;
  text-align: center;
  background-color: #87b24f;
  padding: 10px;
  margin-top: auto;
}
